body { background: #6c0a56; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 13px; display: flex; }
.block-cluster-0 { color: #b546cb; font-size: 15px; margin-bottom: 5px; }
.block-invoice-1 { color: #85dfe8; font-size: 16px; margin-bottom: 5px; }
.block-user-2 { color: #7ec06b; font-size: 18px; margin-bottom: 5px; }
.block-helper-3 { color: #833eec; font-size: 14px; margin-bottom: 5px; }
.block-email-4 { color: #d0dc99; font-size: 17px; margin-bottom: 5px; }
.block-user-5 { color: #facb1b; font-size: 14px; margin-bottom: 5px; }